@import "_utils";

@mixin layout($breakpoint) {
  $prefix: 'cp-c-#{breakpoint-prefix($breakpoint)}';

  .#{$prefix}column,
  .#{$prefix}row {
    box-sizing: border-box;
    display: flex;
  }
  .#{$prefix}column { flex-direction: column; }
  .#{$prefix}row    { flex-direction: row;    }
}

@mixin layout-wrap($breakpoint) {
  $prefix: 'cp-c-#{breakpoint-prefix($breakpoint)}';

  .#{$prefix}wrap { flex-wrap: wrap; }
  .#{$prefix}nowrap { flex-wrap: nowrap; }
}

@mixin flex-properties($breakpoint, $allBreakpoints) {
  $lteBreakpoints: lte-breakpoints($breakpoint, $allBreakpoints);
  $ltBreakpoints: lt-breakpoints($breakpoint, $allBreakpoints);

  @for $i from 1 through 20 {
    $value : #{$i * 5 + '%'};

    @if $breakpoint != null {
      #{breakpoint-element-list('.cp-c-', $ltBreakpoints, 'row')} {
        > .cp-i-#{breakpoint-prefix($breakpoint)}#{$i * 5} {
          flex: 1 1 #{$value};
          max-width: #{$value};
          max-height: 100%;
          box-sizing: border-box;
        }
      }
    }

    @if $breakpoint != null {
      #{breakpoint-element-list('.cp-c-', $ltBreakpoints, 'column')} {
        > .cp-i-#{breakpoint-prefix($breakpoint)}#{$i * 5} {
          flex: 1 1 #{$value};
          max-width: 100%;
          max-height: #{$value};
          box-sizing: border-box;
        }
      }
    }

    .cp-c-#{breakpoint-prefix($breakpoint)}row {
      #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, $i * 5)} {
        flex: 1 1 #{$value};
        max-width: #{$value};
        max-height: 100%;
        box-sizing: border-box;
      }
    }

    .cp-c-#{breakpoint-prefix($breakpoint)}column {
      #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, $i * 5)} {
        flex: 1 1 #{$value};
        max-width: 100%;
        max-height: #{$value};
        box-sizing: border-box;
      }
    }
  }

  @if $breakpoint != null {
    #{breakpoint-element-list('.cp-c-', $ltBreakpoints, 'row')},
    #{breakpoint-element-list('.cp-c-', $ltBreakpoints, 'column')} {
      > .cp-i-#{breakpoint-prefix($breakpoint)}flex {
        flex: 1 1 0%;
        box-sizing: border-box;
      }
      > .cp-i-#{breakpoint-prefix($breakpoint)}auto {
        flex: 1 1 auto;
        box-sizing: border-box;
      }
      > .cp-i-#{breakpoint-prefix($breakpoint)}none {
        flex: 0 0 auto;
        box-sizing: border-box;
      }
      > .cp-i-#{breakpoint-prefix($breakpoint)}noshrink {
        flex: 1 0 auto;
        box-sizing: border-box;
      }
      > .cp-i-#{breakpoint-prefix($breakpoint)}nogrow {
        flex: 0 1 auto;
        box-sizing: border-box;
      }
    }
  }

  .cp-c-#{breakpoint-prefix($breakpoint)}row,
  .cp-c-#{breakpoint-prefix($breakpoint)}column {
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 'flex')} {
      flex: 1 1 0%;
      box-sizing: border-box;
    }
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 'auto')} {
      flex: 1 1 auto;
      box-sizing: border-box;
    }
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 'none')} {
      flex: 0 0 auto;
      box-sizing: border-box;
    }
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 'noshrink')} {
      flex: 1 0 auto;
      box-sizing: border-box;
    }
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 'nogrow')} {
      flex: 0 1 auto;
      box-sizing: border-box;
    }
  }

  @if $breakpoint != null {
    #{breakpoint-element-list('.cp-c-', $ltBreakpoints, 'row')} {
      > .cp-i-#{breakpoint-prefix($breakpoint)}33 {
        flex: 1 1 33.33%;
        max-width: 33.33%;
        max-height: 100%;
        box-sizing: border-box;
      }
      > .cp-i-#{breakpoint-prefix($breakpoint)}66 {
        flex: 1 1 66.66%;
        max-width: 66.66%;
        max-height: 100%;
        box-sizing: border-box;
      }
    }
  }

  @if $breakpoint != null {
    #{breakpoint-element-list('.cp-c-', $ltBreakpoints, 'column')} {
      > .cp-i-#{breakpoint-prefix($breakpoint)}33 {
        flex: 1 1 33.33%;
        max-width: 100%;
        max-height: 33.33%;
        box-sizing: border-box;
      }

      > .cp-i-#{breakpoint-prefix($breakpoint)}66 {
        flex: 1 1 66.66%;
        max-width: 100%;
        max-height: 66.66%;
        box-sizing: border-box;
      }
    }
  }

  .cp-c-#{breakpoint-prefix($breakpoint)}row {
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 33)} {
      flex: 1 1 33.33%;
      max-width: 33.33%;
      max-height: 100%;
      box-sizing: border-box;
    }
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 66)} {
      flex: 1 1 66.66%;
      max-width: 66.66%;
      max-height: 100%;
      box-sizing: border-box;
    }
  }

  .cp-c-#{breakpoint-prefix($breakpoint)}column {
    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 33)} {
      flex: 1 1 33.33%;
      max-width: 100%;
      max-height: 33.33%;
      box-sizing: border-box;
    }

    #{breakpoint-element-list('> .cp-i-', $lteBreakpoints, 66)} {
      flex: 1 1 66.66%;
      max-width: 100%;
      max-height: 66.66%;
      box-sizing: border-box;
    }
  }
}

@mixin layout-align($breakpoint) {
  // Alignment attributes for layout containers' children
  // Arrange on the Main Axis
  // center, start, end, space-between, space-around
  // flex-start is the default for justify-content
  // ------------------------------
  $prefix: 'cp-c-#{breakpoint-prefix($breakpoint)}align';

  .#{$prefix}-start-stretch {
    justify-content : flex-start;
    align-content : stretch;
    align-items: stretch;
  }

  // Main Axis Center
  .#{$prefix}-start-start,
  .#{$prefix}-start-center,
  .#{$prefix}-start-end,
  .#{$prefix}-start-stretch {
    justify-content: flex-start;
  }

  // Main Axis Center
  .#{$prefix}-center-start,
  .#{$prefix}-center-center,
  .#{$prefix}-center-end,
  .#{$prefix}-center-stretch {
    justify-content: center;
  }

  // Main Axis End
  .#{$prefix}-end-start,
  .#{$prefix}-end-center,
  .#{$prefix}-end-end,
  .#{$prefix}-end-stretch
  {
    justify-content: flex-end;
  }

  // Main Axis Space Around
  .#{$prefix}-spacearound-center,
  .#{$prefix}-spacearound-start,
  .#{$prefix}-spacearound-end,
  .#{$prefix}-spacearound-stretch {
    justify-content: space-around;
  }

  // Main Axis Space Between
  .#{$prefix}-spacebetween-center,
  .#{$prefix}-spacebetween-start,
  .#{$prefix}-spacebetween-end,
  .#{$prefix}-spacebetween-stretch {
    justify-content: space-between;
  }


  // Arrange on the Cross Axis
  // center, start, end
  // stretch is the default for align-items
  // ------------------------------

  // Cross Axis Start
  .#{$prefix}-start-start,
  .#{$prefix}-center-start,
  .#{$prefix}-end-start,
  .#{$prefix}-spacebetween-start,
  .#{$prefix}-spacearound-start {
    align-items: flex-start;
    align-content: flex-start;
  }

  // Cross Axis Center
  .#{$prefix}-start-center,
  .#{$prefix}-center-center,
  .#{$prefix}-end-center,
  .#{$prefix}-spacebetween-center,
  .#{$prefix}-spacearound-center {
    align-items: center;
    align-content: center;
    max-width: 100%;
  }

  // Cross Axis Center IE overflow fix
  .#{$prefix}-start-center > *,
  .#{$prefix}-center-center > *,
  .#{$prefix}-end-center > *,
  .#{$prefix}-spacebetween-center > *,
  .#{$prefix}-spacearound-center > * {
    max-width: 100%;
    box-sizing: border-box;
  }

  // Cross Axis End
  .#{$prefix}-start-end,
  .#{$prefix}-center-end,
  .#{$prefix}-end-end,
  .#{$prefix}-spacebetween-end,
  .#{$prefix}-spacearound-end {
    align-items: flex-end;
    align-content: flex-end;
  }

  // Cross Axis Start
  .#{$prefix}-start-stretch,
  .#{$prefix}-center-stretch,
  .#{$prefix}-end-stretch,
  .#{$prefix}-spacebetween-stretch,
  .#{$prefix}-spacearound-stretch {
    align-items: stretch;
    align-content: stretch;
  }
}

@mixin flex-order($breakpoint) {
  $prefix: 'cp-i-#{breakpoint-prefix($breakpoint)}order';

  .#{$prefix}-last {
    order: 99999;
  }

  .#{$prefix}-first {
    order: -1;
  }
}

@mixin layout-padding-margin($breakpoint) {
  $prefix: 'cp-c-#{breakpoint-prefix($breakpoint)}';

  $step: 0;
  @each $space in (0 .25rem .5rem 1rem 2rem 4rem) {
    .#{$prefix}padding-#{$step},
    .#{$prefix}padding-#{$step} > * {
      padding: $space;
    }

    .#{$prefix}padding-h-#{$step},
    .#{$prefix}padding-h-#{$step} > * {
      padding-left: $space;
      padding-right: $space;
    }

    .#{$prefix}padding-v-#{$step},
    .#{$prefix}padding-v-#{$step} > * {
      padding-top: $space;
      padding-bottom: $space;
    }

    .#{$prefix}margin-#{$step},
    .#{$prefix}margin-#{$step} > * {
      margin: $space;
    }

    .#{$prefix}margin-h-#{$step},
    .#{$prefix}margin-h-#{$step} > * {
      margin-left: $space;
      margin-right: $space;
    }

    .#{$prefix}margin-v-#{$step},
    .#{$prefix}margin-v-#{$step} > * {
      margin-top: $space;
      margin-bottom: $space;
    }

    $step: $step + 1;
  }
}

@mixin layouts_for_breakpoint($currentBreakpoint, $breakpoints) {
  @include flex-order($currentBreakpoint);
  @include layout($currentBreakpoint);
  @include layout-wrap($currentBreakpoint);
  @include layout-align($currentBreakpoint);
  @include layout-padding-margin($currentBreakpoint);
  @include flex-properties($currentBreakpoint, $breakpoints);

  @if $currentBreakpoint == null {
    .cp-c-wrap {
      flex-wrap: wrap;
    }

    .cp-c-nowrap {
      flex-wrap: nowrap;
    }

    .cp-c-fill {
      margin: 0;
      width: 100%;
      min-height: 100%;
      height: 100%;
    }
  }
}
