@function breakpoint-prefix($name) {
  @if $name != null {
    @return '#{$name}-';
  }
  @else {
    @return '';
  }
}

@function breakpoint-element-list($prefix, $breakpointList, $suffix) {
  $list: null;
  @each $breakpoint in $breakpointList {
    $breakpointKey: breakpoint-prefix($breakpoint);
    $list: append($list, #{$prefix}#{$breakpointKey}#{$suffix}, comma);
  }
  @return $list;
}

@function lt-breakpoints($breakpoint, $breakpointList) {
  $list: null;
  $visited: false;

  @if $breakpoint == null {
    @return null;
  }

  @each $b in $breakpointList {
    @if $visited == false {
      @if $b == $breakpoint {
        $visited: true;
      } @else {
        $list: append($list, $b);  
      }
    }
  }

  @return $list;
}

@function lte-breakpoints($breakpoint, $breakpointList) {
  @if $breakpoint == null {
    @return null;
  }

  @return append(lt-breakpoints($breakpoint, $breakpointList), $breakpoint);
}
