@import '_utils';

@mixin hide-for-name($name) {
  .cp-#{breakpoint-prefix($name)}hide {
    display: none;
  }
  .cp-#{breakpoint-prefix($name)}show-flex {
    display: flex;
  }
  .cp-#{breakpoint-prefix($name)}show-block {
    display: block;
  }
  .cp-#{breakpoint-prefix($name)}show-table-cell {
    display: table-cell;
  }
}
